.landing {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.landing::before {
    content: '';
    background-color: black;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 50%;
}

@media (max-width: 640px) {
    .landing {
        aspect-ratio: 18/9;
    }
}

.img-col {
    display: flex;
    position: absolute;
    transition-duration: 0.3s;
    height: 100%;
}

.slide {
    width: 100vw;
    position: relative;
}

img {
    min-width: 100%;
}

@media (min-width: 1024px) {
    .text {
        top: 50%;
        transform: translate(0, -50%)
    }
}

@media not all and (min-width: 550px) {
    .sm-x {
        display: none
    }
}